@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');
body { font-family: 'IBM Plex Sans', sans-serif; }
/*common*/
a { color: initial; text-decoration: none; }
a:hover,a:active,a:visited ,a:link { text-decoration: none; }
.cursor_p { cursor: pointer; }
.over_hidden { overflow: hidden; }
.dw_576px { width: 100%; max-width: 576px; margin: 0 auto; }
input { outline: none; }
/*text-align*/
.t_center { text-align: center; }
.t_left { text-align: left; }
.t_right { text-align: right; }

/*font*/
.fw_bold { font-weight: 600; }
.f20 { font-size: 20px; }
.f23 { font-size: 23px; }
.f25 { font-size: 25px; }
.f27 { font-size: 27px; }
.f28 { font-size: 28px; }
.f30 { font-size: 30px; }

/*margin*/
.mlr_32px { margin: 0 32px; }
.mr10px { margin-right: 10px; }
.mb10px { margin-bottom: 10px; }
.mb30px { margin-bottom: 30px; }
.mb20px { margin-bottom: 20px; }
.mr34px { margin-right: 34px; }
/*width*/
.w100 { width: 100%; }
.dw_576px { width: 100%; max-width: 576px; margin: 0 auto; }

.wrap { position: relative; width: 640px; overflow: hidden; margin: 0 auto; }
.modal_background { display: none; position: absolute; top: 0; left: 0; width: 640px; height: 100%; opacity: 1; background-color: rgba(0, 0, 0, 0.486); z-index: 10; }
.wrap .header_wrap { padding-top: 27px; padding-bottom: 22px; background-color: #76173d;  }
.wrap .header_wrap header div { float: left; width: 33%; }
.wrap .header_wrap header .h_middle { margin-top: 6px; }
.wrap .header_wrap header::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .contents .c_middle { padding-top: 66px; padding-bottom: 36px; }
.wrap .contents .c_middle ul li { margin-bottom: 50px; }
.wrap .contents .c_middle ul li:last-child { margin-bottom: 0; }

/* .wrap aside { display: none; position: absolute; width: 477px; top: 0; right: 0; background-color: #76173ddb; opacity: 0.95; z-index: 20; transition: .3s; } */
.wrap aside { /* display: none; */width: 477px; position: absolute; top: 0; right: -520px; background-color: #76173ddb; opacity: 0.95; z-index: 20; transition: right .5s; }

.wrap aside ul li { padding: 20px 0 20px 30px; border-bottom: 1px solid #ddd; }
.wrap aside ul li a { color: #ffffff; font-size: 25px; }
.wrap aside ul li:first-child { padding-top: 40px; }
.wrap aside ul li:last-child { border-bottom: none; }
.wrap aside .close_btn { position: absolute; top: 28px; right: 478px; display: inline-block; }

.wrap footer { padding-bottom: 40px; }
.wrap footer .ft_wrap .ft_top { margin: 40px 0; }
.wrap footer .ft_wrap .ft_top ul li { float: left; width: 33%; font-size: 18px; font-weight: 600; border-right: 1px solid #76173d; padding: 0 20px; }
.wrap footer .ft_wrap .ft_top ul li:last-child { border-right: none; }
.wrap footer .ft_wrap .ft_top ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap footer .ft_wrap .ft_bottom ul li { text-align: center; font-size: 18px; margin-bottom: 20px; }

/*product_list*/
.wrap .pro_contents .pro_middle { padding-top: 0; }
.wrap .pro_contents .pro_middle h2 { color: #76173d; margin-top: 52px; margin-bottom: 25px; }

/*product_view*/
.wrap .pro_contents .pro_txt h2 { padding: 40px 32px; border-bottom: 1px solid #ddd; }
.wrap .pro_contents .pro_txt h2 p:first-child { float: left; font-size: 30px; }
.wrap .pro_contents .pro_txt h2 p:last-child { float: right; font-size: 35px; }
.wrap .pro_contents .pro_txt h2::after { content: ''; display: block; overflow: hidden; clear: both; }

.wrap .pro_contents .pro_txt .option { border-bottom: 1px solid #ddd; padding: 30px 32px; }
.wrap .pro_contents .pro_txt .option div p:first-child { float: left; }
.wrap .pro_contents .pro_txt .option div p:last-child { float: right; }
.wrap .pro_contents .pro_txt .option div::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .pro_txt .option div p input[type='radio']:checked { background-color: white; border: 5px solid #76173d; }
.wrap .pro_contents .pro_txt .option div p input[type='radio'] ,.wrap .pro_contents .pro_txt .option div p input[type='radio']:checked {
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 16px; 
    height: 16px; 
    border-radius: 100%;
    outline: none;
}
.wrap .pro_contents .pro_txt .option div p input[type='radio'] { background-color:white; border: 4px solid #ddd; }
.wrap .pro_contents .pro_txt .pro_mount { padding: 50px 32px; border-bottom: 1px solid #ddd; }
.wrap .pro_contents .pro_txt .pro_mount p { float: left; }
.wrap .pro_contents .pro_txt .pro_mount .count_box { float: right; }
.wrap .pro_contents .pro_txt .pro_mount::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .pro_txt .pro_mount .count_box .count_input { border: 1px solid #ccc; padding: 5px 10px; border-radius: 24px; }
.wrap .pro_contents .pro_txt .pro_mount .count_box .count_input input[type="button"] { border: none; background-color: white; font-size: 24px; }
.wrap .pro_contents .pro_txt .pro_mount .count_box .count_input #cnt { width: 94px; border: none; text-align: center; font-size: 24px; }

.wrap .pro_contents .pro_txt .total_price { border-bottom: 1px solid #ddd; background-color: #f7f7f7; padding: 20px 32px; }
.wrap .pro_contents .pro_txt .total_price ul li { float: left; }
.wrap .pro_contents .pro_txt .total_price ul li:last-child { float: right; }
.wrap .pro_contents .pro_txt .total_price ul::after { content: ''; display: block; overflow: hidden; clear: both; }

.wrap .pro_contents .pro_txt .protxt_bottom { margin: 32px; margin-bottom: 70px; }
.wrap .pro_contents .pro_txt .protxt_bottom div { float: left; width: 49%; text-align: center; padding: 16px 0; }
.wrap .pro_contents .pro_txt .protxt_bottom div a { color: white; font-weight: 600; }
.wrap .pro_contents .pro_txt .protxt_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .pro_txt .protxt_bottom .cart_submit { background-color: #2f2d38; margin-right: 10px; color: white; }
.wrap .pro_contents .pro_txt .protxt_bottom .order_submit { background-color: #76173d; color: white; }

/*cart*/
.wrap .pro_contents .cart_txt .cartxt_top { margin-bottom: 30px; margin-right: 32px; margin-left: 32px; border-top: 1px solid #ddd; padding-top: 30px; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box { border-bottom: 1px solid #ddd; padding-bottom: 20px; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box:not(:first-child) { margin-top: 20px; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box div { float: left; width: 55%; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box div img { width: 290px; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box ul { float: left; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box ul li { margin-bottom: 10px; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .cart_txt .cartxt_top .cart_box ul li button { border: none; margin-top: 20px; padding: 5px 15px; background-color: #6d6d6d; color: white; }
.wrap .pro_contents .pro_txt .menu_add { background-color: #2f2d38; color: white; padding: 15px 0; margin-bottom: 20px; margin-right: 32px; margin-left: 32px; }
.wrap .pro_contents .pro_txt .menu_add a { color: white; }
.wrap .pro_contents .pro_txt .total_price { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #f7f7f7; padding: 20px 32px; }
.wrap .pro_contents .pro_txt .total_price ul li { float: left; }
.wrap .pro_contents .pro_txt .total_price ul li:last-child { float: right; }
.wrap .pro_contents .pro_txt .total_price ul::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .pro_txt .protxt_bottom { margin: 32px; margin-bottom: 70px; }
.wrap .pro_contents .pro_txt .protxt_bottom div { float: left; width: 49%; text-align: center; padding: 16px 0; }
.wrap .pro_contents .pro_txt .protxt_bottom div a { color: white; }
.wrap .pro_contents .pro_txt .protxt_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .pro_contents .pro_txt .protxt_bottom .cart_submit { background-color: #2f2d38; margin-right: 10px;  color: white; }

/*order_complete , order_state*/
.wrap .order_contents .order_top { border-top: 1px solid #ddd; padding-top: 140px; margin-bottom: 130px; }
.wrap .order_contents .order_top h2 { font-size: 40px; margin-bottom: 30px; }
.wrap .order_contents .order_top .state_number .sn_top { background-color: #2f2d38; padding: 10px; color: white; }
.wrap .order_contents .order_top .state_number .sn_top li { float: left; width: 50%; text-align: center; }
.wrap .order_contents .order_top .state_number .sn_top::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_contents .order_top .state_number .sn_middle { background-color: #f7f7f7; padding: 30px 0; }
.wrap .order_contents .order_top .state_number .sn_middle li { font-size: 50px; float: left; width: 50%; color: #2f2d38; }
.wrap .order_contents .order_top .state_number .sn_middle li:first-child { border-right: 1px solid #ddd; }
.wrap .order_contents .order_top .state_number .sn_middle::after { content: ''; display: block; overflow: hidden; clear: both; }

.wrap .order_contents .order_middle div a { color: white; }
.wrap .order_contents .order_middle .order_state { background-color: #2f2d38; padding: 20px; margin-bottom: 20px; color: white;  }
.wrap .order_contents .order_middle .cancel_btn { margin-top: 30px; margin-bottom: 50px; background-color: #76173d; color: white; padding: 20px; }
.wrap .order_contents .order_middle .menu_more { background-color:#76173d; padding: 20px; margin-bottom: 50px; color: white; }

.wrap .order_contents .total_price { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background-color: #f7f7f7; padding: 20px 32px; }
.wrap .order_contents .total_price ul li { float: left; }
.wrap .order_contents .total_price ul li:last-child { float: right; }
.wrap .order_contents .total_price ul::after { content: ''; display: block; overflow: hidden; clear: both; }

.wrap .order_contents .state_order { margin-bottom: 40px; }
.wrap .order_contents .state_order .sto_top { border: 1px solid #76173d; }
.wrap .order_contents .state_order .sto_bottom { margin-top: -19px; margin-left: 80px; }
.wrap .order_contents .state_order .sto_bottom ul { float: left; width: 30%; }
.wrap .order_contents .state_order .sto_bottom::after { content: ''; display: block; overflow: hidden; clear: both; }
.wrap .order_contents .state_order .sto_bottom ul li { margin-bottom: 10px; text-align: center; color: #a8a8a8; }
.wrap .order_contents .state_order .sto_bottom ul li:first-child #circle { width: 50px; height: 50px; background-color: white; border-radius: 50px; border: 10px solid #043543; overflow: hidden; margin-left: 40px; }
.wrap .order_contents .state_order .sto_bottom ul li span { color: #a8a8a8; }
.wrap .order_contents .state_order .sto_bottom ul:first-child li:nth-child(2) { color: #2f2d38; font-weight: 600; }

.wrap .order_contents .order_check ul { margin-bottom: 20px; }
.wrap .order_contents .order_check ul li { float: left; }
.wrap .order_contents .order_check ul li ol li { float: none; }
.wrap .order_contents .order_check ul li ol li:last-child { color: #a8a8a8; }
.wrap .order_contents .order_check ul .pro_chk_price { float: right; }
.wrap .order_contents .order_check ul::after { content: ''; display: block; overflow: hidden; clear: both; }